fastapi
uvicorn[standard]
fastapi-mail

sqlalchemy
asyncpg
alembic
psycopg2-binary

python-jose
python-multipart

pydantic
pydantic-settings
email-validator

httpx
redis
slowapi

pymupdf
python-docx
pdfplumber

pytest
pytest-asyncio

gunicorn